* { /* word-break:break-all;  */word-break: normal;}
body { color:#000; font-size:14px; font-family: "Arial","Verdana","Microsoft Sans Serif";text-align:left; line-height:150%;}
html, body, div, ul, li, dl, dt, dd, form, input, select, h1, h2, h3, h4, h5, p { margin:0px; padding:0px; }
ul, li { list-style:none; }
img { border:0px; margin:0px; padding:0px; vertical-align: middle;}
input, select { font-size:12px; }
a:link, a:visited { color:#454545; text-decoration:none; }
a:hover { color:#2373c8; text-decoration:none; }
#old-ie {background-color: #ffd800;padding: 10px;text-align: center; display: none;}
.clear { clear:both; height:1px; margin-top:-1px; overflow:hidden;font-size:0;line-height:1px }
.pointer { cursor:pointer; }
.layout_wrap { width:958px; overflow-x:hidden; }
.label { position: absolute; top: 0px; left: 0px; border: 1px solid #2373c8; z-index: 9999; background-color: #0000ff;color:#000; text-align:left;text-size:12px;text-weight:normal}
.label span{display:none}
.label div { position: absolute; width: 15px; height: 15px; background-color: #000000; right: 0px; bottom: 0px; clear: both;cursor:se-resize ;font-size:1px;line-height:0%}
/*顶部*/
.topbar{width:100%;height:30px;background:#056027;}
.topnav li{float:left;height:30px;line-height:30px;padding:0px 10px;}
.topnav li a{display:block;color:#fff;}
.topmember{padding:4px 0;}
#header_login,#header_login a{color:#fff;}
.headbar{/*height:130px;background:#fff;background:url(men.png) 67% -40px no-repeat #fff; background-size: 500px;*/}
.headbar .container{/* height: 150px; */padding:0px 0px}
.header{width:1150px;height:150px;margin:0 auto; overflow:hidden; background-size: 100%}
.logo{float:left;/* padding-top:20px; */}
.top_right{float:right;text-align:right;margin-top:15px;}
#header_t a{color:#ffffff;}
.navbar{/*background:url(indexnav.png) repeat-x;*/border:none;margin-bottom: 0px;background-color: #2373c8;}
.nav_menu{}
.nav_menu a:link,.nav_menu a:visited{ color:#ffffff; display:block; font-weight:normal;font-size:16px;text-decoration: none;}
.nav_menu li{text-align:center;}
.nav_menu li.over a{background:#ffffff;color:#333;}
#menu_nav dl {display:none; z-index:99;position:absolute; width:120px; display:block; margin-left:1px;}
#menu_nav dl dt { height:30px; line-height:30px;  width:120px; border-bottom:1px solid #ffffff}
#menu_nav dl dt a:link, #menu_nav dl dt a:visited {background:#2373c8;font-size:14px; height:30px; line-height:30px; color:#fff;text-decoration: none; }
#menu_nav dl dt a:hover {background:#015093; color:#fff; }
.nav_menu-extra {background:#fff;height: 30px;border-bottom:#cccccc 1px solid}
.nav_menu-extra .focus_news {background:#fff;float: left;height:30px;line-height: 32px;overflow: hidden;padding-left: 20px;}
.nav_menu-extra h2 {background:url(xiaoxi.gif) no-repeat;padding-left:30px;float: left;height: 32px;line-height: 32px;	font-size:12px;font-weight:bold;margin-right:10px;}
.nav_menu-extra .focus_news .con {float: left;height: 26px;overflow: hidden;padding-top:6px;width: 450px;}
.search{ /*width:300px; height:100px; overflow:hidden; float:right; display:inline-block;  border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; margin-top:20px;margin-right: 10px;*/margin-top: 5%;}
.search>form{position:relative;width:300px;margin:0 auto;}
.en{padding-right: 10%;display: block;}
.d2 button,.d2 input{border:none;outline:0;border-radius:3px}
.d2 input{width:100%;height:42px;background:#f4f4f4;padding-left:15px}
.d2 button{height:26px;width:26px;position:absolute;top:8px;right:8px;background:#2373c8;cursor:pointer}
.d2 button:before{content:"\f105";font-family:FontAwesome;color:#f9f0da;font-size:20px;font-weight:700}

.navbar-default .container .navbar-brand{color:#fff;font-size:16px}
.navbar-default .container .navbar-brand.active{color:#fff}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#fff}
.navbar-default .navbar-nav>li>a{color:#fff;font-family:"Arial","Verdana","Microsoft Sans Serif";font-size:18px;}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#333;background-color:#fff}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#333;background-color:#fff;height: 50px;}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#333;background-color:#fff;height: 50px;}
.navbar-default .navbar-toggle{border:none;margin-right:5px}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{/*background-color:#2D54A4*/}
.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:hover .icon-bar{background-color:#fff}
.navbar-search{padding:5px;margin-right:10px}
.navbar-nav>li.on{background-color:#fff;}
.navbar-nav>li.on>a{color:#333;}
.navbar-nav>li,.navbar-nav>li:hover{height: 50px;}

/*banner*/
.banner{max-width: 1140px;margin:0px auto;margin-top: 15px;}
.banner_col{width:100%;margin: 0 auto; height: 250px;overflow: hidden;text-align: center;}
/*轮播图文字颜色*/
.carousel-caption a{color:#fff}
.carousel-inner>.item>a{display:block;width:100%;text-align:center;overflow:hidden}
#carousel-captions .carousel-inner>.item>a>img{margin:0 auto;width:100%;max-height:450px}
.carousel-control img{top:50%;left:50%;position:inherit;width:40px;margin-top:-20px;margin-left:-20px}

/*底部*/
.ficon{text-align:center;}
#footer {clear:both; display:block;/* background:url(footer_bg.jpg) repeat-x center bottom #2373c8; */ margin-top: 10px;border-top:#999 solid 10px;}
#footer .container{/* display: none; */}
#footer .inner {width: 1000px;height:auto;padding:20px 0;margin: 0 auto;overflow: hidden;display: block;color: #333;}
#footer ul { padding:15px 0px; }
#footer ul li {color:#333;line-height:28px;text-align:center;font-size:14px;}
#footer a,#footer a.vison{color:#333;}
/*首页*/
.more a{cursor:pointer;display:block;}
.plane{padding:20px 0px;width:1150px;margin: 0 auto;background:#ffffff;overflow:hidden;}
.plane2{/*padding:5px 0px;*/width:1150px;margin: 0 auto;background:#ffffff;overflow:hidden;}
.ind-left{width:790px;height:auto;overflow:hidden;}
.ind-middle{width:400px;height:auto;overflow:hidden; margin-left: 30px;}
.ind-right{width:340px;height:293px;overflow:hidden; }
.ind-box1 .hd{height:35px;border-bottom:1px solid #c1c1c1;overflow:hidden;font-family:"Arial","Verdana","Microsoft Sans Serif"; margin:0px 0px 15px 0px;}
.ind-box1 .hd .tit{/*background:url(icon_01.png) left top no-repeat;*/float:left;font-size:24px;color:#2373c8;height:30px;line-height:25px;background-size: 26px;}
.ind-box1 .hd .tit2{background:url(icon_03.png) left top no-repeat;float:left;font-size:24px;color:#2373c8;height:30px;line-height:25px; background-size: 26px;text-indent: 34px;}
.ind-box1 .hd .en{font-size:16px;color:#aeaeae;font-weight:normal;font-family:"Arial","Verdana","Microsoft Sans Serif";padding:0px 10px;}
.ind-box1 .hd .more{float:right;margin-top:11px;margin-right:12px;}
.ind-box1 .hd .more a{background: url(more_03.png) no-repeat right;width: 44px;height: 13px;text-indent: -9999px;background-size: contain;}
.ind-box1 .bd{/*padding:10px 0px;*/}
.ind-box1 .con{padding:20px 9px 10px 9px;min-height:100px;overflow:hidden}

.ind-box2 .hd{height:35px;overflow:hidden;border-bottom: 1px solid #c1c1c1;font-family:"Arial","Verdana","Microsoft Sans Serif";}
.ind-box2 .hd .tit{/*{background:url(icon_02.png) left top no-repeat;*/float:left;font-size:24px;color:#2373c8;height:30px;line-height:25px;}
.ind-box2 .hd .tit2{background:url(icon_06.png) left top no-repeat;float:left;font-size:24px;color:#2373c8;height:30px;line-height:25px;background-size: 26px;text-indent: 34px;}
.ind-box2 .hd .en{font-size:16px;color:#aeaeae;font-weight:normal;font-family:"Arial","Verdana","Microsoft Sans Serif";padding:0px 10px;}
.ind-box2 .hd .more{float:right;margin-top:11px;margin-right:12px;}
.ind-box2 .hd .more a{background: url(more_03.png) no-repeat right;width: 44px;height: 13px;text-indent: -9999px; background-size: contain;}
.ind-box2 .bd{padding:10px 0px 10px 0px;min-height: 100px;overflow: hidden;}
.ind-box2 .con{padding:10px 0px;min-height:100px;overflow:hidden;}

.ind-box3 .hd{height:35px;overflow:hidden;border-bottom:1px solid #c1c1c1;font-family:"Arial","Verdana","Microsoft Sans Serif";}
.ind-box3 .hd .tit{/*background:url(icon_05.png) left top no-repeat;*/float:left;font-size:24px;font-weight:600;color:#2373c8;/*padding-left:40px;*/height:30px;line-height:25px;}
.ind-box3 .hd .tit2{/*background:url(icon_07.png) left top no-repeat;*/float:left;font-size:24px;font-weight:600;color:#2373c8;/*padding-left:40px;*/height:30px;line-height:25px;}
.ind-box3 .hd .tit3{background:url(icon_04.png) left top no-repeat;float:left;font-size:24px;color:#2373c8;/*padding-left:40px;*/height:30px;line-height:25px;text-indent: 34px;}
.ind-box3 .hd .en{font-size:16px;color:#aeaeae;font-weight:normal;font-family:"Arial","Verdana","Microsoft Sans Serif";padding:0px 10px;}
.glyphicon{margin-right: 8px;}
.ind-box3 .hd .more{float:right;margin-top:11px;margin-right:12px;}
.ind-box3 .hd .more a{background: url(more_03.png) no-repeat right;width: 44px;height: 13px;text-indent: -9999px;background-size: contain;}
.ind-box3 .bd{padding:10px 0px 10px 0px;min-height:100px;overflow:hidden}
.ind-box3 .con{padding:15px 0 0;min-height:100px;overflow:hidden;border: none}
.zy_summary{font-size:14px; color:#999999;margin:0px;text-indent:0;line-height:180%;}
.con1{ /*width: 100px;*/  }
.con1 .category{ height:65px;display: block;text-align: center;line-height:65px;margin-bottom:10px; color:#fff; position: relative; font-size: 15px;text-indent: 20px;}
.new-list{width:100%;}
.con1 i{width: 10px;height:65px; background: #fff; display: block;position: absolute;top: 0px;right: -10px; }
.con1  .bg1{background: url(free1.png) no-repeat 8px 50% #58bd7d; background-size: 22px; }
.con1  .bg2{background: url(free2.png) no-repeat 8px 50% #58bd7d; background-size: 22px; }
.con1  .bg3{background: url(free3.png) no-repeat 8px 50% #58bd7d; background-size: 22px; }
.con1  .bg4{background: url(free4.png) no-repeat 8px 50% #58bd7d; background-size: 22px; }
.con1 .on i{background: #f4f4f4 }
.con1 a{color: #fff;display: block;}
.con2{padding: 0px;padding-left: 10px;  }
.con2 ul{background-color:#f4f4f4;height: 215px;}
.new-list>li{background:#fff;position:relative;padding-top: 0px; /*background-color: #f4f4f4*/padding-bottom:8px;}
.new-list>li:first-child{ padding-left: 0px;background-color: #fff;}
.new-list>li>a>img{width:253px;display:block}
.new-list>li:last-child{padding-right: 0px;background-color: #fff;padding-bottom: 0px;height: 260px;overflow: hidden;}
.new-list>li>a>p{font-size:16px; padding-bottom:5px;line-height:26px;/* white-space: nowrap; */overflow: hidden;text-overflow: ellipsis;text-align: justify; }


.kuaisu>div{margin-bottom: 10px;}
.kuaisu>div:last-child{margin-bottom: 0px;}
.sysjs{ padding: 1px;padding-top: 15px;margin-top: 15px;margin-bottom: 20px;height: auto;overflow: hidden;}
.mt15{/*background-color:#e9ecf0;*/margin-bottom: 20px;}
.sysjs p{ line-height: 4rem; text-indent: 2rem; font-size: 20px;text-align: justify;word-wrap: break-word;width: 100%;clear: both;}
.sysjs p span{ width: 250px;display: block;float: left; }
.sysjs img{float: left;width: 260px; height: 160px;padding-right: 20px; border-right:1px solid #d1d4d8;margin-right: 20px;}
/*good*/
.label_title{line-height:24px;font-size:14px;overflow:hidden;font-weight: normal;max-height: 48px;}
.thumbnail {border: none}
.thumbnail img.pic1{height: 150px }
.label_list13_case2 { text-align:left;border:none;}
.label_list13_item2 {width:100%;text-align:left; height:74px;overflow: hidden;padding:10px 0 5px 0;-webkit-box-sizing:content-box;box-sizing:content-box;}
.label_list13_item2 .date{max-width:50px;height:60px; border:solid 1px #2373c8;padding: 0px;margin-top: 5px; }
.label_list13_item2 .date span{height:30px;line-height:30px;display:block; text-align:center;}
.label_list13_item2 .notop{color:#ffffff;font-size:18px; background: #2373c8}
.label_list13_item2 .nobtm{color:#333333;font-size:14px;}
.label_list13_item2 .text{height:50px;padding: 0px;padding-left: 10px;}
.label_list13_item2 h3{padding: 0px; margin: 0px;font-size:16px;font-weight: normal;overflow: hidden;text-overflow: ellipsis;line-height: 2.5rem;text-align: justify;/* white-space:nowrap; */}
.label_list13_item2 p{color: #999;font-size: 14px;overflow: hidden;text-overflow: ellipsis;line-height: 2.5rem;white-space:nowrap;}
.label_list13_item2 a:hover .notop{background-color:#95bce5}
.label_list13_item2 a:hover .date{border:solid 1px #95bce5;}
.label_list13_summary2{color: #646464;padding-top:0px;font-size: 14px;}
.label_list13_summary2 a{ color:#646464; line-height:150%; font-size:12px;text-decoration:none;}
.normal_title{font-size: 16px;}

.list1 li{/* padding-left:16px;line-height:30px;background:url(arr25.png) left 8px no-repeat;overflow:hidden; */ padding-bottom: 8px;height: auto;overflow: hidden; }
.list1 li:first-child{margin-bottom: 10px;}
.list1 li img{ width: 73%;
    float: left;
    height: 123.5px;}
.list1 li a{display: block;
    width: 27%;
    height: 123px;
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    float: right;
    background: #0070b8;word-wrap: break-word;}
.list2 li{background:url(dot032.png) left center no-repeat;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 32px;}
.list2 li .label_data{padding:0 15px;float:right;display: block;background:url(icon_date.png) left center no-repeat; color:#999;}
.list2 li a{display:block;zoom:1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.list3 li{background:url(dot032.png) left center no-repeat;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-indent: 8px;line-height: 32px; }
.list4 li{background:url(dot024.png) left center no-repeat;padding-left:15px;/*height:40px;line-height:40px;overflow: hidden;*/padding: 6px 3px 6px 10px; background-size: 9px;}
/*.con2>ul#one2 li{height:auto;line-height:20px;overflow: hidden; background-size: 13px;}
.con2>ul#one2 li>a{font-size: 12px;}*/
.list5 li{float: left; padding: 20px; width: 120px;}
.list5 li>a{font-size: 16px;}
.pd0{padding: 0px;}
.input-group-btn > img{display: none}
.mbor{border-right: dashed 1px #ccc;}
/*清除页面底部高度，iframe所致*/
#vishidden{ display:none}
.t1 .btn-group .btn-default:hover{background-color:#2373c8;color: #fff}
.ts_fouse{background-color:#2373c8; color: #fff}
/*当前位置*/
.navigatorbg{margin-bottom:15px; margin-top:15px;}
.navigator{padding:15px;border:1px solid #eee;background:#fcfcfc;}
.navigator td a{font-size: 15px;}
.home{color:#2373c8}
/*栏目页中间部分*/
.colbox1{background: #ffffff; height: auto;overflow: hidden;margin-bottom: 20px;border:1px solid #e6e6e6;border-top:none;}
.colbox2{height: auto;overflow: hidden;border:1px solid #e6e6e6;}
.col_menu{padding:15px; background:#2373c8;  color:#fff;font-size: 20px;}
.column_left_fa_list{padding-left: 20px;}
.column_left_fa_list_ul{padding: 15px;}
.column_left_fa_list li{padding: 8px 0px;}
.column_left_fa_list li a{font-size: 16px}
.column_left_fa_list li.active{color:green}
.column_left_fa_list li.active a{color:green; }
.infolist{padding: 15px 0px;font-size: 15px;}
.infocont{min-height:300px;}
.infocont h3{text-align: center;padding: 15px 0px; border-bottom:solid 1px #ccc}
.infolist p{word-wrap:break-word; white-space:normal; word-break:break-all;text-align: justify;margin-bottom: 5px;font-size: 15px; color: #333;line-height: 2.5rem;margin-bottom: 0.5rem; }
.infolist span,.infolist a{font-size:15px; word-wrap:break-word; white-space:normal; word-break:break-all;  }
.art_time{padding:10px 0px; text-align: center;}
.art_time span{color:#333; margin-right:20px;}
.min-h300{min-height: 300px}
.piclist h3{text-align: left;margin-bottom: 15px;}
.piclist p{text-align: center;font-size: 16px;}
.piclist img{height: 210px;}
.navigatorbg .post h3{padding-left:20px; font-size:15px; height:30px; line-height:30px;  font-weight:bold; /*border-top:#fd942b solid 3px;*/border-top:#509015 solid 3px; clear:both; border-bottom:1px solid #ddd; margin-bottom:5px; }
.navigatorbg .post h3 a{ float:right; font-weight:normal; padding-right:20px;}
.navigatorbg .post .went{padding:20px; padding-top: 0px; font-size:15px;  border-top:#509015 solid 3px; clear:both; margin-bottom:10px;   min-height:300px; }
.went img{ max-width:465px}
.title{font-size:22px;color:#3D3D3D;font-weight:700;line-height:150%}
.bt_content{font-size:14px;text-decoration:none;color:#3D3D3D;line-height:26px}
.bt_content img{ margin:4px;}
.bt_content table{ margin:0 auto}

.t_list {min-height: 200px}
 .colpitcure { padding-left:8px;}
 .colpitcure li { float:left; margin-right:18px; text-align:center; margin-bottom:6px; margin-top:5px;}
/* .colpitcure li:hover { background-color:#cccccc}*/
.focused{ color:red}
 .collanmu { padding-left:8px; margin-bottom:8px}
 .collanmu li { float:left;padding-left:100px; margin-right:28px; text-align:center; margin-bottom:6px}
 .collanmu2 { padding-left:8px;margin-bottom:8px}
 .collanmu2 li { float:left;padding-left:40px; margin-right:28px; text-align:center; margin-bottom:6px}
.focused:hover{ color:red}
 .ajax { padding-left:8px; padding-right:10px;}
 .ajax .coltime{ float:right;}
 .ajax li{ height:30px;}
 .bd1px{ border:1px solid #e6e6e6}
.bdtopnone{ border-top:none}


.column_right{padding:10px 20px 0 20px; background:#fff;}
.column_tit{padding: 8px 0px; border-bottom:2px solid #2373c8; text-indent:3px; white-space:nowrap;color:#2373c8;font-size:20px; }
.column_list{ width:100%; /*min-height:300px;*/ padding-top:5px;padding-bottom: 8px; }
.column_list li{height: auto;height: auto;overflow: hidden;padding: 12px 0px; border-bottom:dashed 1px #ccc;font-size: 15px; /*height: 40px; line-height: 40px;*/}
.column_list li a{display: block;}
.column_list .col-md-10{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 0px;padding-right: 0px;}
.column_list  .bt_date{font-size:12px;padding: 0px;text-align: right; }
.object_item_p{clear:both;font-family:Microsoft YaHei;FONT-SIZE:14px;BORDER-BOTTOM:#c2c2c2 1px dotted;PADDING-BOTTOM:10px;PADDING-TOP:15px;PADDING-LEFT:0;PADDING-RIGHT:0}
.column_title_list ul li{float:left;text-align:center;LINE-HEIGHT:35px;WIDTH:72px}
.column_title_list ul li a{ font-size:14px; color: #3d3d3d;font-family:"Arial","Verdana","Microsoft Sans Serif"}
.wo{}

*+html .za_text { width:238px !important; }
.gaisu{ height:auto;overflow:hidden;  clear: both; padding:20px;}
.sz .szimg{ width: 220px; float: left;}
.sz .szimg img{ width: 200px; -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.sz .szinfo{ /*padding-left: 100px; width:450px;*/float: left; padding-left: 50px}
.sz .szinfo li{ line-height: 35px; font-size: 16px; clear: both; width: auto !important; font-family:"Arial","Verdana","Microsoft Sans Serif"}
.sztit{ clear: both; height: 40px; line-height: 40px; margin: 10px 20px 10px 0px; color: #000; text-indent: 2em; background-color:#F0F0F0;border-bottom:1px solid #C9C9C9;text-align:left;font-family:Microsoft YaHei}
.szcont{ clear: both; height:auto; line-height: 40px;margin: 10px 0px; padding: 10px; color: #666; text-indent: 2em; font-family:"Arial","Verdana","Microsoft Sans Serif"}
.sztit span{ float: right; padding-right: 30px; display:block;width: 40px; height: 40px; background: url(right1.png) no-repeat 50% 50% ;}
.sztit .on{background: url(right.png) no-repeat 50% 50% ;}
.white{color: white !important}
.mb-j{display: none}
.share{height: 40px;width: 100%;background: #f1f1f1;margin-top: 20px;}
.print{float: right;width: 55px;margin-right: 20px;background: url("art_pic_01.png") no-repeat left 14px;line-height: 40px;text-align: right}
.close1{float: right;width: 55px;margin-right: 20px;background: url("art_pic_02.png") no-repeat left 14px;line-height: 40px;text-align: right}
/*jpage*/
.column_list .pagination{text-align:center}
.column_list .pagination span{padding:2px 5px;margin:0 5px}
.column_list .pagination a{padding:2px 5px;margin:0 5px}
.column_list .pagination{font-size:0}
.column_list .pagination span{display:inline-block;vertical-align:top;padding:4px 10px;font-size:18px;color:#fff;margin:0 5px;background:#2373c8}
.column_list .pagination a{display:inline-block;vertical-align:top;padding:4px 10px;font-size:18px;color:#666;margin:0 5px;border:1px solid #333}
.column_list .pagination a:hover{color:#fff;background:#2373c8}
.carousel-indicators li{background-color: #007aff;}
@media only screen and (max-width: 768px) {
/* .headbar .container{height: 120px;} */
.con2{padding:0px;}
.welome{display: none}
.m_search{width: 100%;clear: both;}
.nav>.dropdown{background-color:#479df7}
.input-group-btn > img{display:block;}
.display{display: block;}
.input-group-btn{padding: 15px;}
.mbor{border-right:none;border-bottom: dashed 1px #ccc}
.mp0{padding: 0px;}
.date{width: 56px;float: left;margin-right: 10px;}
.mb-j{display:block}
.column_left_fa_list_ul{display: none}
.thumbnail img.pic1{height: auto}
.border-notop{border:none;}
.infocont p img{width: 98%;height: auto !important;}
.banner_col{height: 165px; overflow: hidden;}
.piclist img{height:auto !important; width: 95%;}
.sysjs p{font-size: 2rem;line-height: 3rem;}
.sysjs p span{float:none;}
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
.navbar-default .navbar-nav>li>a{padding: 13px 1rem}
.navbar .container{width: 100%;padding: 0px;}
.navbar-collapse{padding: 0px;}
.nav>.dropdown{background:none}
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .navbar-default .navbar-nav>li>a{padding: 13px 10px}
    .navbar .container{width: 100%;padding: 0px;}
    .navbar-collapse{padding: 0px;}
    .nav>.dropdown{background:none}
    }
    
@media only screen and (min-width: 1200px) {
    .navbar-default .navbar-nav>li>a{padding: 13px 50px}
    .logo{padding-left: 50px;}

    }